spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/hmdp?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456789
  redis:
    host: localhost
    port: 6379
  rabbitmq:
    addresses: localhost
    port: 5672
    username: guest
    password: guest
  elasticsearch:
    host: localhost
    port: 9200